<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>New Dojo </h1>
    <form action="/dojos" method = "post">
        <h2>Name:</h2>
        <input type="text" name = 'dojo_name'>
        <button name = 'submit'> Create </button>
    </form>


    <h2>All Dojos</h2>
    {% for dojo in dojos %} 
        <a href="dojos/{{dojo.id}}">{{dojo.dojo_name}}</a>
    {% endfor %}

    <a href="../ninjas"> Add Ninja</a>
</body>
</html>